<div class="jumbotron">
    <h1 class="display-4">Create your own lobby!</h1>
    <p class="lead">This is simple, all you have to do is clicking on the create button below, enter your name &amp; rounds, then copy the link to share it to your friends.</p>
</div>

@code {

}
