@page "/"

<h1>Welcome to GartikPhone</h1>

<NavLink class="nav-link" href="/create" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Create room
</NavLink>

<NavLink class="nav-link" href="/join" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Join room
</NavLink>