@inject IJSRuntime JsRuntime

<h3>Board</h3>
<div id="container-board">
    <canvas @ref="CanvasRef" height="500" width="500" style="border:1px solid #000000;" id="canvas" @onclick="CreatePaintableCanvas"></canvas>
    <div id="controls-board">
        <button class="btn btn-primary" id="js-edit-two" @onclick="SetBrushSizeTwo">Brush size 2</button>
        <button class="btn btn-danger" id="js-edit-five" @onclick="SetBrushSizeFive">Brush size 5</button>
        <button class="btn btn-secondary" id="js-edit-ten" @onclick="SetBrushSizeTen">Brush size 10</button>
    </div>
</div>

@code {

    ElementReference CanvasRef;

    async Task CreatePaintableCanvas()
    {
        await JsRuntime.InvokeVoidAsync("createPaintableCanvas", CanvasRef);
    }

    async Task SetBrushSizeTwo()
    {
        await JsRuntime.InvokeVoidAsync("setBrushSizeTwo");
    }

    async Task SetBrushSizeFive()
    {
        await JsRuntime.InvokeVoidAsync("setBrushSizeFive");
    }

    async Task SetBrushSizeTen()
    {
        await JsRuntime.InvokeVoidAsync("setBrushSizeTen");
    }

}
