<div class="card card-body">
    <form action="/play">
        <div class="form-group">
            <label for="code">The code</label>
            <input type="text" class="form-control" id="nickname" placeholder="Enter your code here...">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Join the room</button>
        <NavLink class="btn btn-primary" href="" Match="NavLinkMatch.All">Join the room</NavLink>

    </form>

</div>

@code {

}
