<div class="jumbotron">
    <h1 class="display-4">Join your friend's lobby!</h1>
    <p class="lead">This is simple, all you have to do is to enter your code in the input below and click join or directly by the url that has been given to your friend.</p>
</div>

@code {

}
